doctype html
html(lang="ru")
    head
        title make index
        link(rel="stylesheet" href="css/index.css")
    body
        ul
            li
                a index
            li
                a contacts
            li
                a info                            
